
                         /* responsive design*/

                         @media all and (max-device-width: 800px) /* mobile uniquement*/

                         {
                                                          /*header*/
                           
                             header 
                             {
                                 flex-direction: column;
                                 width: auto;
                             }
                          
                             .filtresmenus
                             {
                                
                                 flex-direction: column;
                                 width: auto;
                                 height: auto;
                                 grid-template-columns: 50% ;
                                 grid-template-rows: 25% 25% 25% 25% ;
                             }
                            .bulle
                            {
                              flex-direction: column;
                               height: auto;
                               width: auto;
                               
                            }
                            
                            .main
                            {
                             display: flex;   
                             flex-direction: column-reverse;
                            }
                           
                           
                                                                 /*bloc hebergement*/
                           
                            #hebergements
                             {
                               
                                 height: auto;
                                 width: auto;
                                 flex-direction: column;
                                 display: grid;
                                 grid-template-columns: 50% ;
                                 grid-template-rows: 25% 25% 25% ;
                                 justify-content: center;
                             }
                             .align
                             {
                                 flex-direction: column;
                                 display: grid;
                                 grid-column: 1;
                                 grid-row: span 3;
                                 
                             }
                            .alingcont
                            {
                             
                             height: auto;       
                              
                            }
                           
                           
                                                         /*bloc les plus populaires */ 
                            #populaire 
                            {
                              height: auto;
                              width: 70%;
                            }
                         
                            .align2
                            {
                                flex-direction: column;
                                height: auto;
                                margin-left: 3%; 
                                width: 75%;
                            }
                         
                         
                                                             /*bloc activité*/
                            #activités
                            {
                                flex-direction: column;
                                height: auto;
                                width: auto;
                                order: -1;
                                flex-direction: column;
                                grid-template-columns: 100%;
                                grid-template-rows: 16% 16% 16% 16% 16% 16%;
                            }
                         
                           .vieuxport
                           { 
                               grid-column: 1;
                               grid-row: 1;
                           }
                         
                           .fortpomegues
                           {
                              grid-column: 1;
                              grid-row: 2;
                             }
                         
                             .frioul
                             {
                                 grid-column: 1;
                                 grid-row: 3;
                             }
                         
                             .calanques
                             {
                                 grid-column: 1;
                                 grid-row: 4;
                             }
                         
                             .notredame
                             {
                                 grid-column: 1;
                                 grid-row: 5;
                             }
                         
                             .longchamp
                             {
                                 grid-column: 1;
                                 grid-row: 6;
                             }
                         
                             /*footer*/
                             
                             footer
                             {
                                 flex-direction: column;
                             }
                         
                         }
                         