/* Body */


@font-face 
{
    src: url('police/Raleway-Regular.ttf') ; 
    font-family: "Raleway";
}
 body
 {
     font-family: "Raleway";
 }

 a :hover
 {
     background-color: aqua;
     border: 1px solid  transparent;
 }

.main
{
 display: flex;
 align-items: flex-end;

}
/*header*/
.headtitre
{
    color: blue;
}

.headtitre a
{
    text-decoration: none;
}


#recherchehead
{
    border: 1px solid black;
    border-radius: 40px;
    height: 40px;
    width: auto;
    font-family: "Raleway";
    font-weight: bold;
    
}

#boutons:hover
{
    background-color: #0065fc;  /*Passer curseur en main*/ 
}
#boutons            
{
   
    height: 40px;
    width: auto;
    color: #f2f2f2;
    font-family: "Raleway";
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

.logohead
{
    width: 100px;
    height: 50px;
    float: left;
}

#liens
{   position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}

header a
{
    margin-right: 15px;
    
}

header h1
{
    clear: both;
}

/* filtres*/

.filtresmenus
{
    display: flex;
}
  

.logo
{
    color: #0065fc;
    border-radius: 52px;
    height: 52px;
    width: 52px;
    background-color: #deebff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bullelogo
{
  border: solid 1px #deebff;
  border-radius: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.bullelogo:hover
{
    background-color: aqua;
    border: 1px solid  transparent;
}

.bulle
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textico
{
    margin-left: 5px;
    margin-right: 5px;
}

/* informations avant premiere Section*/

.logo2
{
    color: #0065fc;
    border: 1px solid black;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.alignlogo
{
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 25px;
    
}



/* section 1 hebergement*/

.titresection
{
    display: flex;
    margin-left: 50px;
 
}

.align
{
    display: flex;
  justify-content: center;

}


.etoile
{
    color:#0065fc;
}

.preview
{
    height: 150px;
    width: 250px;
    
}


#hebergements
{
    border:transparent 1px;
    border-radius: 30px;
    background-color: #f2f2f2;
    height:765px;
    width: 955px;
    float: left;
    margin-right: 180px;
    margin-bottom: 50px;
}

.alingcont
{
        padding-top: 1px;
        margin-left: 50px;
        padding-left: 2px ;
        border: 1px transparent black;
        border-radius: 50px;
        height: 310px;
        width: 250px;
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: #f2f2f2 1px 1px 1px;
        overflow: hidden;
        
}


/* section 2 les plus populaires*/


#populaire
{
    display: flex;
    border:transparent 1px;
    border-radius: 30px;
    background-color: #f2f2f2;
    height:755px;
    width: 650px;
    flex-direction: column;   
}
   
.logopop
{
    display: flex;
    justify-content: flex-end;
    margin-left: 400px;
    
}


.align2
{
    border: 1px transparent black;
    border-radius: 50px;
    height: 150px;
    width: 500px;
    display: flex;
    background-color: white;
    overflow: hidden;
    align-content: center;
    margin-right: 50px;
    margin-top: 25px;
    
   
   
}

/* activité*/ 
a
{
    text-decoration: none;
}

.align3
{
    display: grid;
  grid-template-columns:20% 25% 15% 25% ;
  grid-template-rows: 25% 25% ;
  
}

.vieuxport
{
  display: grid;
  grid-column: 1;
  grid-row: span 2;
  border: 1px transparent black;
  border-radius: 50px;
  overflow: hidden;
  height:500px;
  width: 340px;
}

.vieuxport p 
{
    display: flex;
    margin-left: 30px;
}

.fortpomegues p
{
    
        display: flex;
        margin-left: 30px;
    
}
#prev
{
    width:340px ;
}
.fortpomegues
{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    border: 1px transparent black;
    border-radius: 50px;
    overflow: hidden;
    height: 230px;
    width: 340px;
    margin-left: 5%;

}
.frioul p
{
    display: flex;
    margin-left: 30px;
}
.frioul
{
    display: grid;
    grid-column: 2;
    grid-row: 2;
    border: 1px transparent black;
    border-radius: 50px;
    overflow: hidden;
    height: 230px;
    width: 340px;
    margin-left: 5%;
}

.calanques
{
    display: grid;
   grid-column: 3;
   grid-row: span 2;
   border: 1px transparent black;
   border-radius: 50px;
   overflow: hidden;
   height: 450px;
   width: 300px;
}

.calanques p 
{
    display: flex;
    margin-left: 30px;
}

.notredame

{
    display: grid;
    grid-column: 4;
    grid-row: 1;
    border: 1px transparent black;
    border-radius: 50px;
    overflow: hidden;
    height: 230px;
    width: 340px;
    margin-left: 15%;
}
 
.notredame p 
{
    display: flex;
    margin-left: 15px;
}

.longchamp
{
    display: grid;
    grid-column: 4;
    grid-row: 2;
    border: 1px transparent black;
    border-radius: 50px;
    overflow: hidden;
    height: 230px;
    width: 340px;
    margin-left: 15%; 
}

/* FOOTER*/

footer
{
    
    background-color: #f2f2f2;
    border: 1px transparent black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li
{
    list-style: none;
    
}

li a
{
    text-decoration: none;
    color: black;
}