
                         /* responsive design*/

                         @media  all and (max-width : 800px) and (min-width:100px)
                {
                                                          /*header*/
                          .headtitre
                          {
                              display: flex;
                              
                            }
                        main
                            {
                                width: 100%;
                               
                                 display: flex;   
                                justify-content: center;
                                align-content:center ;
                                align-items: center;
                                align-self: center;
                                    
                            }
                        .p1
                         {
                             display: flex;
                             width: 100%;
                             font-size: smaller;
                         
                            padding-bottom: 5%;
                            font-weight: bold;
                           
                         }   
                            .h1
                            {
                                display: flex;
                                
                                 padding-top: 1%;
                                 font-size: 1.5em;
                                  font-family: "Raleway-bold";

                            }
                       
                         .p2
                            {
                            font-size: large;
                           
                            }
                            
                        #logohead1
                        
                            {
                                     display: flex ;
                                     width: 0%;
                             }
                             #liens a
                             {
                                 width:50%;
                             }
                             
                             #liens
                             {
                                 height: 8em;                     
                                 padding-left: 0%;
                                 display: flex;
                                 width: 100%;
                                 flex-wrap: wrap;
                                 
                              }   
                       
                              #lien3  /*boite invisible*/
                              {
                                 width: 54.5%; 
                                 display: flex;
                              }/* fin boite invisible*/
                            
                            
                          #liens3
                         {
                            padding-left: 40%;
                            width:100%; 
                            display: flex;
                            align-content: flex-end;
                            justify-content: flex-end;
                            
    
                         }
                         #liens1
                         { 
                             width: 50%;
                             display: flex;
                            order: 2;
                            border-bottom: solid 1px grey;  
                         }
                         #liens2
                         {
                            
                             width:50%;
                             display: flex;
                             order: 3;
                             border-bottom: solid 1px grey;
                            }

                         
                        
                           #liens1:hover
                           {
                                border-bottom: 3px solid #0065fc;
                                border-top: none;   
                                
                           }
                           #liens2:hover
                           {
                                border-bottom: 3px solid #0065fc;
                                border-top: none;
                           }

                         

                            header 
                             {
                                display: flex; 
                                flex-direction: column;
                                 width: auto;
                                 flex-wrap: wrap;
                                 width: 100%;
                                 height: 100%;
                                font-size: medium;
                             }
                       
                             .filtresmenus
                             {
                                font-size: medium;
                                 flex-direction: column;
                                 width: 100%;
                                 padding-bottom: 2%;
                            
                             }

                            
                             .bulle
                             {
                               justify-content: flex-start;
                               width: auto;
                               display: grid;
                               grid-template-columns: 2fr 1fr;
                               grid-template-rows: 1fr 1fr 1fr;
                               gap:9%;
                               padding-right: 15%;
                            
                             }
                             
                             .bulle1
                             {
                                 grid-column: 1;
                                 grid-row: 1;
                            }
                             .bulle2
                             {
                                 grid-column: 2;
                                 grid-row: 1;
                            }
                             .bulle3
                             {
                                 grid-column: 1;
                                 grid-row: 2;
                            }
                             .bulle4
                             {
                                grid-column: 1;
                                grid-row: 3;
                                width: 100%;
                                
                             }
                

                          .alignlogo
                          {
                              font-size: medium;
                            justify-content: center;
                            align-items: center;
                            align-content: center;
                            margin-top: 5%;
                          }
                          .logo2
                          {
                              margin-right: 3%;
                          }
                                                /*body*/
                         
                            body
                            {
                                width: 100%;
                            }                        

                            #recherchebarre
                            {
                                width: 100%;
                            }

                            #boutonsrecherche
                            {
                                display: none;
                            }
                            #loupe
                            {
                                display: flex;
                                background-color: #0065fc;
                                font-weight: bold;
                                color: #deebff;
                                border-radius: 0 10% 10% 0;
                                height:3em;
                                border: none;
                                cursor: pointer;
                                font-size:1em ;
                                width: 5%;
                                align-items:center ;
                                padding-left: 2%;   
                            }
                           
                                    /*hebergements*/
                            #hebergements
                             {
                                 box-shadow: none;
                                 width: 100%;
                                 flex-direction: column;
                                 justify-content: center;
                                 background-color: white;
                                 order:2;
                                
                             }
                            
                             .cannebieres
                             {
                                 height: 9em;
                                
                             }
                             .port
                             {
                                 height: 9em;
                             }
                             .mer
                             {
                                 height: 9em;
                             }
                             .mouettes
                             {
                                 height: 9em;
                             }
                             .panier
                             {
                                 height: 9em;
                             }
                             .amina
                             {
                                 height:9em;
                             }

                             .alingcont
                             {
                                 width: 100%;
                                 margin-left: 1%;
                             }
                             .align
                             {
                                 flex-direction: column;
                                width: 100%;
                               
                             }    
                         
                            
                           
                         

                           /*populaires*/
                            
                           .titresection2
                           {  
                             width: 70%;
                               display: flex;
                              font-family: "Raleway-bold";
                             margin-left: 2%;
                             margin-top: 9%;
                            white-space: nowrap;
                        }     
                          
                          
                          .logopopu
                          
                          {
                              display: flex;
                              align-items: center;
                             justify-content: flex-end;
                          }
                        
                           .align2
                           {
                            margin-top:2%;
                            margin-bottom: 2%; 
                            width:90%;
                            height: 10em;
                           }
                           
                           

                           #populaire 
                            {
                             
                              width: 100%;
                              display: flex;
                              flex-direction: column;
                              margin-bottom: 1%;
                              order: 1;
                              border: none;
                              border-radius: 0%;
                            }
                        
                            
                            .etoilepop
                            {
                                display: flex;
                                color:#0065fc;
                                font-size: small;
                                padding-top: 5%;
                            }
                           
                            .textepop
                            {
                                font-size: 1.5em;
                                margin: 2%;
                                width: 100%;
                                
                            }

                            
                            .coeurdeau
                            {  
                               width: 15em;
                            }
                            /*activité*/ 
                            
                            
                            
                            #activités
                            {
                               display: flex;
                               flex-direction: column;
                                width:100%;
                                order: 3;
                                height: 82em;
                                padding-bottom: 10%;
                                  
                               
                            }
                            .align3
                            {
                                grid-template-rows: 6fr;
                                grid-template-columns: 100%;
                                width: 100%;
                                
                               
                           }
                          
                            .vieuxportgrille
                            {
                                grid-column: 1;
                                grid-row: 1;
                            }
                           
                            .fortpomeguesgrille
                            {
                                grid-column: 1;
                                grid-row:2;
                            }

                            .frioulgrille
                            {
                                grid-column: 1;
                                grid-row: 3;
                            }
                            .calanquesgrille
                            {
                                grid-column: 1;
                                grid-row: 4;
                            }

                            .notredamegrille
                            {
                                grid-column: 1;
                                grid-row: 5;
                            }
                            .longchampgrille
                            {
                                grid-column: 1;
                                grid-row: 6;
                            }

                           .vieuxport
                            {
                                grid-column: 1;
                                grid-row: 1;
                                height: 12em; 
                                border-radius: 20px; 
                                background-image: url(images/activites/small/vieuxport.jpg);  
                            }


                           .fortpomegues
                           {
                               grid-column: 1;
                               grid-row: 2;
                               height: 12em;
                               border-radius: 20px;  
                               background-image: url(images/activites/small/fortpomegues.jpg); 
                           }
                           .frioul
                           {
                               grid-column: 1;
                               grid-row: 3;
                               height: 12em;
                               border-radius: 20px; 
                               margin-top: 0%;  
                               background-image: url(images/activites/small/frioul.jpg);
                            }

                           .calanques
                           {
                               grid-row: 4;
                               grid-column: 1;
                               height: 12em;
                               border-radius: 20px; 
                               background-image: url(images/activites/small/calanques.jpg); 
                           }
                           .notredame
                           {
                            grid-column: 1;
                            grid-row: 5;
                            height: 12em;
                            border-radius: 20px;   
                            background-image: url(images/activites/small/notredames.jpg);
                           }
                           
                           .longchamp
                           {
                               grid-column: 1;
                               grid-row: 6;
                               height: 12em;
                               border-radius: 20px; 
                               background-image: url(images/activites/small/longchamp.jpg);  
                           }



                           /*footer*/
                          
                          
                           footer
                             {
                                margin-top: 10%;
                                width: 100%;
                                display: flex;
                                flex-direction: column; 
                                font-size:medium;
                                
                             }
                           
                           #apropos
                           {
                               width: 100%;
                               padding-bottom: 4%;
                             
                           }
                            #noshebergements
                            {
                                padding-bottom: 5%;
                                width: 100%;
                            }

                            #assistances
                            {
                              width: 100%;    
                            }
                         }
                         