                                            
                                            /* Body */


@font-face 

{
        src: url('police/Raleway-Regular.ttf') ; 
        font-family: "Raleway";
}
 
body
 
 {
        font-family: "Raleway";
 }

 a :hover

 {
         background-color: #f2f2f2;
         border: 1px solid  transparent;
 }

.main

{
         display:inline-block ;
}

.etoile
{
    color:#0065fc;
    margin-left: 12%;
}


                                            /*header*/
header
{
    font-family: "Raleway";
}


.p1
{
    font-weight: 300 ;
}

.h1
{
    font-weight: 900 ;
}

.headtitre a:hover
{
    text-decoration: overline;
    color: black;
}

.headtitre a
{
    text-decoration: none;
    color: blue;
    padding-top: 1%;
}


#recherchehead
{
    border: 1px transparent black;
    border-radius: 30px;
    height: 10%;
    width: auto;
    font-family: "Raleway";
    font-weight: bold;
    
}

#boutons:hover
{
    background-color: #0065fc;
     border: 1px solid  transparent;
}

#boutons            
{
   background-color: #0065fc;
    height: 40px;
    width: auto;
    color: #f2f2f2;
    font-family: "Raleway";
    font-size: 0.9em;
    font-weight: bold ;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px transparent;
}

.logohead
{
    width: 100px;
    height: 50px;
    float: left;
}

#liens
{   position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}

header a
{
    margin-right: 15px;
    
}

header h1
{
    clear: both;
}

                                        /* filtres*/

.filtresmenus
{
    display: flex;
}
  

.logo
{
    color: #0065fc;
    border-radius: 52px;
    height: 52px;
    width: 52px;
    background-color: #deebff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bullelogo
{
  border: solid 1px #deebff;
  border-radius: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.bullelogo:hover
{
    background-color: aqua;
    border: 1px solid  transparent;
}

.bulle
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textico
{
    margin-left: 5px;
    margin-right: 5px;
}

                            /* informations avant premiere Section*/

.logo2
{
    color: #0065fc;
    border: 1px solid #deebff;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.alignlogo
{
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 25px;
    
}



                                        /* section 1 hebergement*/

.titresection
{
    display: flex;
    margin-left: 50px;
}

.align h3
{
    margin: 1%;
}
                                                      
.align p                                            
{
    margin: 1%;
}

.align
{
    display: flex;
  justify-content: center;

}

.alingcont
{
                             /*espacement externe*/
       
       margin-bottom: 2%;
        margin-left: 1%;
        margin-right: 5%;
       
                             /*espacement interne*/
       
        padding-left: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-right: 1%;
       
                             /*boite taille et position*/
        
        border-radius: 30px;
        height: 100%;
        width: 400px;
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: #f2f2f2 1px 1px 1px;
        overflow: hidden;
        
}


                            /*blocs hebergements*/
#hebergements
{
    
    border:transparent 1px;
    border-radius: 30px;
    background-color: #f2f2f2;
    height:auto;
    width: auto; 
    margin-bottom: 2%;
    
}

.cannebieres
{
    background-image: url(images/small/cannebiere.jpg);
    height: 120px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.port
{
    background-image: url(images/small/port.jpg);
    height: 120px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.mouettes
{
    background-image: url(images/small/mouettes.jpg);
    height: 120px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;

}

.mer
{  
    background-image: url(images/small/mer.jpg);
    height: 120px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    
}


.panier
{
    background-image: url(images/small/panier.jpg);
    height: 120px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.amina
{
    background-image: url(images/small/amina.jpg);
    height: 120px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.p2
{
    font-weight: 700;
    margin-left: 20px;
}

                            /* section 2 les plus populaires*/
                            
.titresection2
{
    margin-left: 5%;  
}

.logopop
{
    display: inline-block;
    padding-left: 50%;
}
                                  /* bloc populaire*/
#populaire
{
    display: flex;
    border:transparent 1px;
    border-radius: 30px;
    background-color: #f2f2f2;
    width: 40%;
    height: 35%;
    flex-direction: column;   
}

.soleil
{
    background-image: url(images/small/soleildumatin.jpg);  
    width: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 1px 1px #f2f2f2;
}

.coeurdeau
{
    background-image: url(images/small/aucoueurdeleau.jpg);
    width: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bleublanc
{
    background-image: url(images/small/bleuetblanc.jpg);
    width: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.align2 p  
{
    margin-left: 1%;
}

.align2 h3  
{
    margin-left: 1%;
}


.align2
{
    
    border: 1px transparent black;
    border-radius: 50px;
    display: flex;
    background-color: white;
    overflow: hidden;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

                                        /* activité*/ 


a
{
    text-decoration: none;
    color: black;
}

.align3
{
  display: grid;
  grid-template-columns:25% 25% 25% 25%;
  grid-template-rows: 50% 50%  ;
  height: 25em;
  width: 80%;
  grid-gap: 5% 2%;
 
}

.vieuxport
{
    display: grid;
    grid-column: 1;
    grid-row: span 2 ;
    background-image: url(images/activites/small/vieuxport.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.texte
{
    align-self: flex-end;
    background-color: white;
}

.fortpomegues

{
    display: grid;
    grid-column: 2;
    grid-row: 1 ;
    background-image: url(images/activites/small/fortpomegues.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.frioul
{
    display: grid;
    grid-column: 2;
    grid-row: 2 ;
    background-image: url(images/activites/small/frioul.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;

    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.calanques
{
    display: grid;
    grid-column: 3;
    grid-row: span 2 ;
    background-image: url(images/activites/small/calanques.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
   
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.notredame

{
    display: grid;
    grid-column:4;
    grid-row: 1 ;
    background-image: url(images/activites/small/notredames.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.longchamp
{
    display: grid;
    grid-column:4;
    grid-row: 2 ;
    background-image: url(images/activites/small/longchamp.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}


                                                /* FOOTER*/

footer
{
    margin-top: 5%;
    background-color: #f2f2f2;
    border: 1px transparent black;
    display: flex;
    justify-content: space-around;
  
}

li
{
    list-style: none;
    
}

li a
{
    text-decoration: none;
    color: black;
}



                         /* responsive design*/

@media all and (max-device-width: 800px) /* mobile uniquement*/

{
                                 /*header*/
  
    header 
    {
        flex-direction: column;
        width: auto;
    }
 
    .filtresmenus
    {
       
        flex-direction: column;
        width: auto;
        height: auto;
        grid-template-columns: 50% ;
        grid-template-rows: 25% 25% 25% 25% ;
    }
   .bulle
   {
     flex-direction: column;
      height: auto;
      width: auto;
      
   }
   
   .main
   {
    display: flex;   
    flex-direction: column-reverse;
   }
  
  
                                        /*bloc hebergement*/
  
   #hebergements
    {
      
        height: auto;
        width: auto;
        flex-direction: column;
        display: grid;
        grid-template-columns: 50% ;
        grid-template-rows: 25% 25% 25% ;
        justify-content: center;
    }
    .align
    {
        flex-direction: column;
        display: grid;
        grid-column: 1;
        grid-row: span 3;
        
    }
   .alingcont
   {
    
    height: auto;       
     
   }
  
  
                                /*bloc les plus populaires */ 
   #populaire 
   {
     height: auto;
     width: 70%;
   }

   .align2
   {
       flex-direction: column;
       height: auto;
       margin-left: 3%; 
       width: 75%;
   }


                                    /*bloc activité*/
   #activités
   {
       flex-direction: column;
       height: auto;
       width: auto;
       order: -1;
       flex-direction: column;
       grid-template-columns: 100%;
       grid-template-rows: 16% 16% 16% 16% 16% 16%;
   }

  .vieuxport
  { 
      grid-column: 1;
      grid-row: 1;
  }

  .fortpomegues
  {
     grid-column: 1;
     grid-row: 2;
    }

    .frioul
    {
        grid-column: 1;
        grid-row: 3;
    }

    .calanques
    {
        grid-column: 1;
        grid-row: 4;
    }

    .notredame
    {
        grid-column: 1;
        grid-row: 5;
    }

    .longchamp
    {
        grid-column: 1;
        grid-row: 6;
    }

    /*footer*/
    
    footer
    {
        flex-direction: column;
    }

}
