
                         /* responsive design*/

                         @media all and (max-device-width: 800px) /* mobile uniquement*/

                         {
                                                          /*header*/
                             
                         
                            
                             header 
                             {
                                display: flex; 
                                flex-direction: column;
                                 width: auto;
                             }
                          
                             .filtresmenus
                             {
                                 width: auto;
                                 height: auto;   
                                 flex-direction: column;
                             }

                             .bulle
                             {
                                 display: flex;
                                 flex-direction: column;
                             }
                            
                                                /*body*/
                            main
                            {
                             display: flex;   
                            justify-content: center;
                            
                        
                            }
                                    
                           
                                    /*hebergements*/
                            #hebergements
                             {
                               
                               
                                 width: 100%;
                                 flex-direction: column;
                                 justify-content: center;
                                 background-color: white;
                                 order:2;
                                
                             }
                            
                             .cannebieres
                             {
                                 height: 15em;
                             }
                             .port
                             {
                                 height: 15em;
                             }
                             .mer
                             {
                                 height: 15em;
                             }
                             .mouettes
                             {
                                 height: 15em;
                             }
                             .panier
                             {
                                 height: 15em;
                             }
                             .amina
                             {
                                 height: 15em;
                             }

                             .align
                             {
                                 flex-direction: column;
                                width: 100%;
                               
                             }    
                         
                            
                           
                           .titresection2
                           {
                               display: flex;
                               flex-direction: flex-end;
                           }
                           

                           /*populaires*/
                            #populaire 
                            {
                              align-items: center;
                              height: auto;
                              width: 100%;
                              display: flex;
                              flex-direction: column;
                              margin-bottom: 2%;
                              order: 1;
                            
                            }
                         
                            .align2
                            {
                               width: 100%;
                               height: 15em;
                              
                            }
                                /*activité*/ 
                            #activités
                            {
                               display: flex;
                               flex-direction: column;
                                width: 100%;
                                order: 3;
                                height: 100em;
                               
                            }
                            .align3
                            {
                                grid-template-rows: 6fr;
                                grid-template-columns: 100%;
                                width: 100%;
                           }
                            .vieuxport
                            {
                                display: grid;
                                grid-column: 1;
                                grid-row: 1;
                                height: 15em;
                               
                            }
                           .fortpomegues
                           {
                               display: grid;
                               grid-column: 1;
                               grid-row: 2;
                               height: 15em;
                           }
                           .frioul
                           {
                               display: grid;
                               grid-column: 1;
                               grid-row: 3;
                               height: 15em;
                           }

                           .calanques
                           {
                               display: grid;
                               grid-row: 4;
                               grid-column: 1;
                               height: 15em;
                           }
                           .notredame
                           {
                            display: grid;
                            grid-column: 1;
                            grid-row: 5;
                            height: 15em;
                           }
                           
                           .longchamp
                           {
                               display: grid;
                               grid-column: 1;
                               grid-row: 6;
                               height: 15em;
                           }



                           /*footer*/
                           footer
                             {
                               
                                width: 100%;
                                display: flex;
                                flex-direction: column; 
                                
                             }
                         
                         }
                         